<div class="section section-gray section-clients">
    <div class="container text-center flexbox">
        <h4 class="header-text">Free Advertising Worldwide</h4>
        <p>
            Would you like to post your Ads immediatly in the most important cities in the world?
            Have your Startup, Band or Art advertised in NewYork, LosAngeles, London, Berlin, Madrid, Sydney, Shangai, Tokyo, Rome, Dubai and many other places
        </p>
        <!--<div class="logos">
            <ul class="list-unstyled">
                <li class="clientsImages"><img src="https://s3.eu-central-1.amazonaws.com/freeads/tianjin-2185510_1920.jpg" ></li>
                <li class="clientsImages"><img src="https://s3.eu-central-1.amazonaws.com/freeads/chicago-690364_1920.jpg" ></li>
                <li class="clientsImages"><img src="https://s3.eu-central-1.amazonaws.com/freeads/japan-217878_1920.jpg" ></li>
            </ul>
        </div>-->
    </div>
</div>