<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">Features</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <div class="text">
                        <h4>Free Advertising Campaings</h4>
                        <p>Organize with other people in your city and around the world an advertising campaign to distribute flyers, paper Ads and write reviews.. and many others</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-bell"></i>
                    </div>
                    <h4>Website and Ad Translations</h4>
                    <p>Translate Ads, Website and find people to help you.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Mobile Surveys through QR Codes</h4>
                    <p>Receive information from potential customers through our mobile survey advertised with QR Codes distributed on the street.</p>
                </div>
            </div>
        </div>
    </div>
</div>	