<footer class="footer" id="landingfooter">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                    Home
                    </a>
                </li>
                <li>
                    <a href="#">
                    Company
                    </a>
                </li>
                <li>
                    <a href="#">
                    Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                    Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="social-area pull-right">
            <a class="btn btn-social btn-facebook btn-simple">
            <i class="fa fa-facebook-square"></i>
            </a>
            <a class="btn btn-social btn-twitter btn-simple">
            <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social btn-pinterest btn-simple">
            <i class="fa fa-pinterest"></i>
            </a>
        </div>
        <div class="copyright">
        </div>
    </div>
</footer>