<nav class="navbar navbar-transparent navbar-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
            </button>
            <a href="#">
                <div class="logo-container">
                    <!--div class="logo">
                        <%#= image_tag("new_logo.png") %>
                    </div>
                    <div class="brand">
                        FreeAdsWorldwide
                    </div-->
                </div>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="example" >
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="https://twitter.com/fabri_on_rails">
                    <i class="fa fa-twitter"></i>
                    Tweet
                    </a>      
                </li>
                <li>              
                    <a href="https://www.facebook.com/Grow-Startups-450474798646474/">
                    <i class="fa fa-facebook"></i>
                    Facebook
                    </a>                      
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--li>
                    <a href="#">
                    <i class="fa fa-facebook-square"></i>
                    Like
                    </a>
                </li-->
                <li>
                    <%= link_to new_user_registration_path do %><i class="fa fa-user-plus"></i> Signup<% end %>
                </li>
                <li>
                    <%= link_to new_user_session_path do %>
                    <i class="fa fa-sign-in"></i>
                    Login
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>