<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description flexbox">
                    <h4 class="header-text">Translations</h4>
                    <p>Many developers like you are building apps and live in different part of the world, you will be able to translate and get your App/Advertisement translated/distributed around the world. Otherwise people will not understand what you say </p>
                    <p>Many apps are just focusing on one market. Get your App to the world thanks to the FREE translation of your website and your fliers distributed EVERYWHERE
                    <p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <!--img src="https://s3.eu-central-1.amazonaws.com/freeads/akihabara-1180397_1280.jpg"-->
                <%= image_tag "akihabara-1180397_1280.jpg" %>
            </div>
        </div>
    </div>
</div>