<div class="alert alert-warning">
  <button data-dismiss="alert" class="close close-sm btn-fill" type="button">
      <i class="icon-remove"></i>
  </button>
  <strong>Warning!</strong> Are you sure you want to delete the following <%= text %>?
</div> 